@using TestTask.Context
@model List<Patient>
@{
    ViewBag.Title = "Все пациенты";
}

<link href="~/css/patient/all.css" rel="stylesheet" asp-append-version="true" />

<ul class="nav">
    <li><a href="/">Главная</a></li>
</ul>

<div class="content">
    <h1>@ViewBag.Title</h1>


    <div class="aligning-container">
        <div onclick="goToPage('/Patient/Create')" class="button">Создать пациента</div>
    </div>

    <input type="text" class="search-panel" id="search" placeholder="Поиск (ФИО СНИЛС)" />

    <table class="patients-table">
        <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>СНИЛС</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pacient in Model)
            {
                <tr onclick="goToPage('/Patient/Index?id=@pacient.Id')" class="patient-line">
                    <td>@pacient.Surname</td>
                    <td>@pacient.Name</td>
                    <td>@pacient.Patronymic</td>
                    <td>@pacient.SNILS</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {

        document.getElementById("search").addEventListener("input", function (e) {
            let searchWords = e.target.value.split(' ').filter(x => x.length != 0);

            for (let line of document.getElementsByClassName("patient-line")) {
                line.classList.remove("hide");
                for (let word of searchWords) {
                    if (!lineContainWord(line, word.toLowerCase())) {
                        line.classList.add("hide");
                    }
                }
            }
        });

    });

    function lineContainWord(HTML_line, word) {
        var regex = new RegExp("^" + word);
        for (let cell of HTML_line.children) {
            if (regex.test(cell.innerText.toLowerCase())) return true;
        }
        return false;
    }
</script>