@using TestTask.ViewModels
@using TestTask.Extensions
@using TestTask.Models
@model CreatePatientViewModel
@{
    ViewBag.Title = "Создать пользователя";
}

<link href="/css/patient/create.css" rel="stylesheet" asp-append-version="true" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@using (Html.BeginForm("Create", "Patient", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    //<div asp-validation-summary="All"></div>

    @if (ViewBag.Errors != null)
    {
        <ul>
            @foreach (var error in ViewBag.Errors)
            {
                <li>@error</li>
            }
        </ul>
    }

    <div class="field-section">
        <label asp-for="Surname"></label>
        <span asp-validation-for="Surname"></span>
        <input asp-for="Surname" type="text" />
    </div>

    <div class="field-section">
        <label asp-for="Name"></label>
        <span asp-validation-for="Name"></span>
        <input asp-for="Name" type="text" />
    </div>


    <div class="field-section">
        <label asp-for="Patronymic"></label><span> (если есть)</span>
        <span asp-validation-for="Patronymic"></span>
        <input asp-for="Patronymic" type="text" />
    </div>


    <div class="field-section">
        <label asp-for="Birthday"></label>
        <span asp-validation-for="Birthday"></span>
        <input asp-for="Birthday" type="text" />
    </div>


    <div class="field-section">
        <label id="sexLabel" asp-for="Sex"></label>
        <span asp-validation-for="Sex"></span>
        <input asp-for="Sex" type="text" id="sexInput" />
        <select id="sexSelect">
            <option key="" id="@Html.Raw(Model == null ? "sSelected" : "")">Не выбрано</option>
            @foreach (var item in Enum.GetValues(typeof(SexType)))
            {
                <option key="@item" id="@(Html.Raw(Model != null && Model.Sex == (SexType)item ? "sSelected" : ""))">
                    @(((SexType)item).GetDisplayNameAttribute())
                </option>
            }
        </select>
    </div>


    <div class="field-section">
        <label asp-for="SNILS"></label>
        <span asp-validation-for="SNILS"></span>
        <input asp-for="SNILS" type="text" />
    </div>


    <input type="submit" id="submitBtn" value="Создать" />
}

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        let sexInput = document.getElementById("sexInput");
        document.getElementById("sSelected").setAttribute("selected", "selected");

        /* Управление полем 'Пол' */
        document.getElementById("sexSelect").addEventListener("input", function (e) {
            sexInput.value = e.target.children[e.target.selectedIndex].getAttribute("key");
        });


        /* События перед отправкой формы */
        document.getElementById("submitBtn").addEventListener("click", function (e) {
            let sexLabel = document.getElementById("sexLabel");
            if (sexInput.value.length == 0) {
                sexLabel.innerHTML = "Не выбран пол";
                e.preventDefault();
            }
            else sexLabel.innerHTML = "";
        });


    });
    $(function () {
        $("#datepicker").datepicker();
    });
</script>

