
@using TestTask.ViewModels
@using TestTask.Extensions
@using TestTask.Models
@model PatientViewModel
@{
    ViewBag.Title = "Редактировать пациента";
}

<link href="/css/patient/create.css" rel="stylesheet" asp-append-version="true" />
<link href="/css/common/modal-window.css" rel="stylesheet" asp-append-version="true" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<div class="modal-window-container hide">
    <div class="modal-window">
        <div class="model-text">Вы действительно хотите удалить пациента?</div>
        <div class="modal-buttons">
            <div class="no">Нет</div>
            <div class="yes">Да</div>
        </div>
    </div>
</div>

<ul class="nav">
    <li><a href="/">Главная</a></li>
    <li>></li>
    <li><a href="@Url.Action("Index", "Patient", new { id = Model.Id })">@Model.Surname @Model.Name  @Model.Patronymic</a></li>
    <li>></li>
    <li><a href="@Url.Action("Edit", "Patient", new { id = Model.Id })">Редактировать</a></li>
</ul>

<div class="content">
    <h1>@ViewBag.Title</h1>

    <div id="deleteFormContainer">
        @using (Html.BeginForm("Delete", "Patient", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <input asp-for="Id" hidden />

            <div class="danger" id="deleteGraft">Удалить пациента</div>
        }
    </div>

    @using (Html.BeginForm("Edit", "Patient", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        @if (ViewBag.Errors != null)
        {
            <ul class="error-list">
                @foreach (var error in ViewBag.Errors)
                {
                    <li class="error-text">@error</li>
                }
            </ul>
        }

        <div class="field-section">
            <label asp-for="Surname"></label>
            <span asp-validation-for="Surname" class="error-text"></span>
            <input asp-for="Surname" type="text" />
        </div>

        <div class="field-section">
            <label asp-for="Name"></label>
            <span asp-validation-for="Name" class="error-text"></span>
            <input asp-for="Name" type="text" />
        </div>


        <div class="field-section">
            <div>
                <label asp-for="Patronymic"></label> <span> (если есть)</span>
            </div>
            <span asp-validation-for="Patronymic" class="error-text"></span>
            <input asp-for="Patronymic" type="text" />
        </div>


        <div class="field-section">
            <label asp-for="Birthday"></label>
            <span asp-validation-for="Birthday" id="dateSpan" class="error-text"></span>
            <input asp-for="Birthday" type="text" id="datepicker" />
        </div>


        <div class="field-section">
            <label asp-for="Sex"></label>
            <span asp-validation-for="Sex" class="error-text"></span>
            <select asp-for="Sex">
                <option value="">Не выбрано</option>
                @foreach (var item in Enum.GetValues(typeof(SexType)))
                {
                    <option value="@item">
                        @(((SexType)item).GetDisplayNameAttribute())
                    </option>
                }
            </select>
        </div>


        <div class="field-section">
            <label asp-for="SNILS"></label>
            <span asp-validation-for="SNILS" class="error-text"></span>
            <input asp-for="SNILS" type="text" placeholder="XXX-XXX-XXX XX" />
        </div>

        <input asp-for="Id" type="text" hidden />

        <div class="aligning-container">
            <input type="submit" class="button" id="submitBtn" value="Сохранить изменения" />
        </div>
    }

</div>


<script src="~/js/dateControl.js" asp-append-version="true"></script>
<script src="/js/modal-window.js" asp-append-version="true"></script>
